body{
    font-family: 'DM Sans', sans-serif;
}

.container{
    max-width: 1070px;
    margin: 0 auto;
}
.header, .footer{
    background: rgba(255, 113, 67, 0.27);
    padding: 38px 0 47px;
}
.header_flex, .about, .adress, .plan_flex, .footer_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header_nav{
    margin: 20px;
}
.nav_li{
    display: inline-block;
}
.nav_li:not(:first-of-type){
    margin-left: 47px;
}
.nav_link{
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
    text-decoration: none;
}
.nav_link:hover{
    color: black;
    transition: 300ms;
}
.button{
    width: 212px;
    height: 60px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button_orange{
    background: #FF7143;
}
.button_orange:hover{
    background: #f88660;
    transition: 450ms;
}
.about{
    margin: 104px auto 85px;
}
.about_title{
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    max-width: 467px;
    margin-bottom: 30px;
}
.about_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 410px;
    margin-bottom: 50px;
}
.button_violet{
    background: #5454D4;
}
.button_violet:hover{
    background: #6b6bd1;
    transition: 450ms;
}
.button_transparent{
    background: none;
    color: #5454D4;
    border: 1px solid #5454D4;
    margin-left: 35px;
}
.button_transparent:hover{
    background: #e9e5e5;
    transition: 450ms;
}
.adress{
    margin: 0 auto 85px;
}
.adress_title{
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    color: #19191B;
    max-width: 556px;
    margin-bottom: 30px;
}
.input{
    width: 302px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #5454D4;
    margin: 0 39px 0 0;
    padding-left: 14px;
    box-sizing: border-box;
}
.input:focus{
    outline: none;
}
.input::placeholder, .input{
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #000000;
}

.plan{
    margin-bottom: 132px;
}
.plan_title{
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
    max-width: 504px;
    margin-bottom: 110px;
}
.item{
    width: 330px;
    background: #f8f8f8;
    border-radius: 10px;
    text-align: center;
    padding: 34px 0 27px ;
}
.item:hover{
    transition: 500ms;
    background: #FF7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
}
.item_text{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.562737px;
    color: #696871;
}
.item:hover .item_text, .item:hover .item_title, .item:hover .item_li{
    color: white;
    transition: 500ms;
}
.item_title{
    font-weight: bold;
    font-size: 60px;
    line-height: 56px;
    letter-spacing: -1.03448px;
    color: #1D293F;
    margin: 22px 0 28px;
}
.item_title span{
    font-size: 28px;
}
.item_li{
    list-style: none;
    line-height: 50px;
    letter-spacing: -0.531474px;
    color: #696871;
}
.button_item{
    width: 285px;
    background: white;
    color: #5454D4;
    margin-top: 36px;
}
.item:hover .button_item{
    background: #9F3919;
    color: white;
    transition: 500ms;
}

